
:root {
    --star: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}
.container{
    position: relative;
    width: 350px;
    height: 350px;
    margin-bottom: 5rem;
    margin-top: 20rem ;
    offset-path: var(--star);
    

}

.star{
    position: absolute;
    inset: 0;
    background-color: hotpink ;
    clip-path: var(--star);
    

}
.marker{
    position: absolute ;
    top: 0;
    left: 0;
    width: 15px;
    height: 6px;
    background: black;

    offset-path: var(--star);
    animation: follow-path 4s ease-in-out infinite alternate;

}

.square {
    height: 30px;
    width: 50px;
    background-color: oklch(0.69 0.18 245.62);
    border-radius: 0.25rem;
    offset-path: path("M20,230 C20,230 240,20 460,230");
    offset-distance: 0%;
    margin-bottom: 20rem;
    animation: follow-path 4s ease-in-out infinite alternate;
}

@keyframes follow-path {
    45% {
        offset-distance: 45%;
    }
    to {
        offset-distance: 100%;
    }
}